
@import './scss/theme.scss';
@import './fontawesome/scss/fontawesome.scss';
@import './fontawesome/scss/regular.scss';
@import './fontawesome/scss/solid.scss';
@import './fontawesome/scss/thin.scss';
@import './fontawesome/scss/light.scss';
@import './fontawesome/scss/brands.scss';
@import './fontawesome/scss/duotone.scss';
@import './fontawesome/scss/v4-shims.scss';
@import './scss/page.scss';

.search-area .card-body {
    background: rgb(216,68,126);
    background: linear-gradient(45deg, rgba(216,68,126,1) 0%, rgba(241,151,81,1) 100%);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .search-input, .search-btn {
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    height: 70px;
    min-height: 70px;
    border: none;
    border-radius: 0;
  }
  .search-btn {
    background: #eb4e79;
    color: #fff;
  }
  .search-form {
    display: flex;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    height: 74px;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
    max-width: 800px
  }
  .limited-td {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ref-td {
    text-decoration: underline;
    cursor: pointer;
  }
  .table-item {
    display: flex;
    align-items: center; 
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #f9fbfd;
    border-radius: 5px;
    
    h3, span, p {
        padding: 0;
        margin: 0;
    }
    img {
        width: 50px;
        height: 50px;
    }
    .table-item__group {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70px;
        padding: 5px 20px;
    h3 {
        font-weight: bold;
    }
    }
    .table-item__counts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  .search-box {
    margin-left: 5px !important;
  }
  .modal-custom {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100vh;
    background: #fff;
    padding-top: 0;
    margin-top: 0;
    box-shadow: -6px 1px 20px 3px #d9d9d9;
}
.custom-modal-content {
  padding: 20px;
  height: calc(100vh - 60px);
  overflow: auto;
}

.custom-modal-content img {
  height: auto;
  max-width: 100%;
}
.sentiment-score {
  border: 4px solid #f9fbfd;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 40px;
}

.sentiment-score h2 {
  font-size: 40px;
}
.sentiment-tags {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.sentiment-tags .card {
  min-width: 140px;
  margin-right: 15px;
}
.sentiment-tags .text-muted {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.social-networks {
  display: inline-block;
  float: right;
}

.social-networks a {
  color: #12263f;
  font-size: 18px;
  margin-right: 10px;
}
.db-sync-container{
  .card-body {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
img.header-img-top {
  height: 200px;
  object-fit: cover;
}
.custom-select {
  text-align: left;
  * {
    text-align: left !important;
  }
}
.cusotm-modal {
  position: fixed;
  right: 0;
  top: 0;
  max-width: 100%;
  width: 400px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 20px 1px #96abca;
  height: 100vh;
  overflow: auto;
  z-index: 99999;
}
.dropdown-menu {min-width: 300px;right: -25px;top: 34px;}
.company-form {
  display: flex;
  flex-direction: column;
  .company__fields {
    height: calc(100vh - 140px);
    overflow: auto;
  }
  .btn--apply {
    width: 100%;
    max-width: 100%;
  }
  label {
    color: #b3b2b2;
  }
}
.admin-diffbot--header {
  .col {
    text-align: center;
  }
}


.rdrDefinedRangesWrapper {
  display: none;
}
.btn {
  border-color: $blue;
}
.alert {
  max-height: 200px;
  overflow: auto;
}
.section-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #1E2022;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.55px;
  line-height: 14px;
  text-align: center;
  border-bottom: 1px solid #F8F8F8;
  padding-bottom: 10px;
  li.active:after {
    content: '';
    display: block;
    border: 1px solid #1E2022;
    position: relative;
    top: 11px;
}
}

@media screen and (max-width: 768px) {
  .custom--header>div {
    margin-left: 0 !important;
    width: 100%;
    max-width: 100%;
    margin-right: 0 !important;
  }
  .page-header {
    margin-bottom: 0 !important;
  }
  .company-page .page__section {
    padding: 1.5em;
  }
  [data-mobile-hide=true] {
    display: none !important;
  }
  .company-page .custom-card *, .company-page .custom-card * {
    white-space: pre-wrap;
  }
  .mobile-slide {
    max-width: 100%;
    white-space: nowrap;
    overflow: auto;
    display: block;
    & > div {
      display: inline-block !important;
      width: 83% !important;
      margin-right: 21px !important;
      .card-body {
        padding-bottom: 0 !important;
        .row.align-items-center {
          margin-bottom: 0 !important;
        }
      }
    }
    & {
        scrollbar-width: auto;
        scrollbar-color: #c4c4c4 #ffffff;
    }
    &::-webkit-scrollbar {
        position: relative;  
        display: none;  
    }

    &::-webkit-scrollbar:hover {
        display: block;  
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c4c4c4;
        border-radius: 3px;
        border: 6px solid #ffffff;
    }
}
}